@import '../../../../constants/styling/theme/variables.scss';

.scroller {
  width: 100%;
  max-width: $max-width-layout;
  
  &__noMaxWidth {
    width: 100%;
    max-width: none;
  }

  .scroller__inner_x {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
  }

  .scroller__inner__x {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
  }

  .tagList {
    width: fit-content;
    .scrollerItem {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 7.5px;
      margin: 3px;
      box-shadow: 0 0.5rem 1rem -0.25rem #e7e7e7;
      background-color: #fff;

      .image {
        width: 100%;
        height: auto;
      }
    }
  }
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);


  @media screen and (max-width: 855px) {
    width: 100%;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 0%,
        white 100%,
        transparent
      );
      mask: linear-gradient(90deg, transparent, white 0%, white 100%, transparent);
  }
  
  & > .scroller__inner__x {
    width: max-content;
    flex-wrap: nowrap;
    animation: scrollInverted 100s linear infinite;
  }
  & > .scroller__inner_x {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 500s linear infinite;
  }
}

@keyframes scrollInverted {
  to {
    transform: translate(-50%);
  }
}

@keyframes scroll {
  from {
    transform: translate(-80%);
  }
  to {
    transform: translate(50%);
  }
}
