@import '../../../../constants/styling/theme/variables.scss';
.cardContainer {
  width: 47.5%;
  max-width: 47.5%;
  border-radius: 6px;
  border: 1px solid #e7e7e7;
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  @media screen and (max-width: 1130px) {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }


  .divider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-image: linear-gradient(to right, transparent, #e7e7e7, transparent);
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;

    .imageContainer {
      width: 250px;
      height: 150px;
      background-color: #e7e7e7;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-image: url('../../../../assets/pages/routes/image1.jpeg');

      & > img {
        width: 100%;

      }

      .zoomShadow {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0000007a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        cursor: pointer;
        left: 0;
      }
    }
    
    .text {
      width: 50%;
      padding-left: 10px;

      .card {
        width: fit-content;
        background: #e7e7e7;
        border-radius: 10px;
        padding: 0 5px;
        margin-right: 5px;
        margin-top: 7px;

        @media screen and (max-width: 520px) {
          display: none;
        }
        
        & > p {
          font-size: 10px;
          color: #7a7a7a;
          font-family: $tertiary-font;
        }
      }

      .subheader {
        font-size: 14px;
        color: #7a7a7a;
        font-family: $tertiary-font;
        margin: 5px 0;

        @media screen and (max-width: 400px) {
          display: none;
        }
      }

      .usedTechnologies {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-bottom: 15px;
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        scrollbar-width: none;
        -webkit-mask: linear-gradient(
          90deg,
          transparent,
          white 0%,
          white 80%,
          transparent
        );

        mask: linear-gradient(
          180deg,
          transparent,
          white 0%,
          white 80%,
          transparent
        );

        &::-webkit-scrollbar{
          display: none;
        }

        .card {
          width: fit-content;
          background: #e7e7e7;
          border-radius: 5px;
          padding: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 5px;
          margin-bottom: 5px;
          & > p {
            font-size: 10px;
            color: #7a7a7a;
            font-family: $tertiary-font;
            white-space: nowrap;
          }

          .image {
            background-color: #fff;
            border-radius: 2.5px;
            padding: 2px;
          }
        }

        .error {
          font-size: 14px;
          color: #7a7a7a;
          font-family: $tertiary-font;
        }
      }
    }
  }

  .textAndInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .data {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .bus {
        font-size: 18px;
        font-weight: 700;
        color: #7a7a7a;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      .price {
        font-size: 24px;
        font-weight: 700;
        color: #000;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .genericButton {
      font-family: $primary-font;
      color: #000;
      background: transparent;
      outline: none;
      border: none;
      font-size: 12px;
      text-decoration: none;
      border: 0.5px solid transparent;
      border-radius: 7px;
      padding: 7px;
      cursor: pointer;
      margin-left: auto;
      border: 0.5px solid #fafafa31;
      background-image: linear-gradient(
        to right bottom,
        transparent,
        #e7e7e7,
        #e7e7e7,
        transparent
      );
      &:hover {
        transition: all ease 500ms;
        border: 0.5px solid #fafafa31;
        background-image: linear-gradient(
          to right bottom,
          transparent,
          #7a7a7a7a,
          #7a7a7a7a,
          transparent
        );
        p {
          font-size: 14px;
          color: #fafafa;
        }
      }
    }
  }
}