@import '../../../../constants/styling/theme/variables.scss';

.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  background-image: linear-gradient(
    to top right,
    $secondary-color,
    $black
  );

  .icon {
    width: 70px;
    margin-right: 10px;
    margin-bottom: auto;

    .uniLogo {
      width: 70px;
      height: 70px;
      background: #fff;
      padding: 3px;
      border-radius: 5px;
      box-sizing: border-box;
      // box-shadow: 0 0.5rem 1rem -0.25rem #5c5c5c;
    }
  }

  .usedTechnologies {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
    overflow-x: auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    scrollbar-width: none;

    &::-webkit-scrollbar{
      display: none;
    }

    .card {
      width: fit-content;
      background: #e7e7e7;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 5px;
      margin-bottom: 5px;
      & > p {
        font-size: 10px;
        color: #7a7a7a;
        font-family: $tertiary-font;
        white-space: nowrap;
      }

      .image {
        background-color: #fff;
        border-radius: 2.5px;
        padding: 2px;
      }
    }

    .error {
      font-size: 14px;
      color: #7a7a7a;
      font-family: $tertiary-font;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;

    .info1 {
      font-size: 15px;
      color: #fff;
      font-weight: 800;
      font-family: $tertiary-font;
      text-align: left;
      margin-bottom: 5px;
    }
    .info2 {
      font-size: 14px;
      color: #e7e7e7;
      font-family: $tertiary-font;
      text-align: left;
      margin-bottom: 5px;
    }
    .info3 {
      font-size: 14px;
      color: #7a7a7a;
      font-family: $tertiary-font;
      text-align: left;
      margin-bottom: 5px;
    }
    .info4 {
      font-size: 14px;
      color: #fafafa;
      font-family: $tertiary-font;
      text-align: left;
      margin: 15px 0;
      padding: 0 20px;
    }
  }
}